# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Environment
.env
.venv/
env/
venv/
*.log

# Large raw dataset
data/raw/cmapss/*.zip
data/raw/cmapss/*.txt
data/raw/cmapss/*.pdf
data/interim/

# Large model artifacts
outputs/models/
*.pt
*.pth
*.joblib
*.pkl

# Large prediction/sample files
outputs/metrics/*predictions.csv
outputs/metrics/*shap_values_sample.csv

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
